<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362982212385-61500a6mkmt36dj173itm0prj0mg2jcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362982212385-61500a6mkmt36dj173itm0prj0mg2jcd</string>
	<key>API_KEY</key>
	<string>AIzaSyD_Q9jF1Rb1vcQFUed8TQXSoxaHQ54FD-M</string>
	<key>GCM_SENDER_ID</key>
	<string>362982212385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cropvideo.advanceVideoShare</string>
	<key>PROJECT_ID</key>
	<string>advance-video-share</string>
	<key>STORAGE_BUCKET</key>
	<string>advance-video-share.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362982212385:ios:74ffcd3db9f1c362093460</string>
</dict>
</plist>